
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> node ###
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
###< node ###

###> misc ###
.DS_Store
Thumbs.db
composer.phar
*.db
*.sqlite
*.sqlite3
###< misc ###
